In [1]:
import sys, importlib
sys.path.append("..")

import src.data_processing as dp
importlib.reload(dp)

from src.data_processing import feature_engineering_workflow

matrix, pipeline, customer_df = feature_engineering_workflow("../data/raw/data.csv")
customer_df.head()

,CustomerId,total_transaction_amount,avg_transaction_amount,transaction_count,std_transaction_amount
0,CustomerId_1,-10000.0,-10000.000000,1,0.000000
1,CustomerId_10,-10000.0,-10000.000000,1,0.000000
2,CustomerId_1001,20000.0,4000.000000,5,6558.963333
3,CustomerId_1002,4225.0,384.090909,11,560.498966
4,CustomerId_1003,20000.0,3333.333333,6,6030.478146